* {
  margin: 0;
}

body {
  margin: 0.5rem;
  background: linear-gradient(skyblue, dodgerblue, cadetblue)no-repeat;
  background-color: blue;
}

h3 {
  margin: 2rem;
}

table {
  border-collapse: collapse;
  background-color: aliceblue;

}

table th,
table td {
  border: solid 2px black;
  padding: 1rem;
}